/web/bundles/
/app/config/parameters.yml
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*

!var/cache/.gitkeep
!var/logs/.gitkeep
/vendor/
/bin/*
!bin/console
!bin/symfony_requirements

/composer.phar

/nbproject
/.idea
.DS_Store
/.DS_Store
/app/.DS_Store
/web/attachments
/build/api
/build/coverage
/build/logs
/build/pdepend
/build/phpdox
/build/doc
cache
